@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @apply text-zinc-500;
  @apply bg-zinc-200;
}

.aspect-1 {
  aspect-ratio: 1;
}